{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Python:Artificial Intelligence </title>
        <style>
    body {
        background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=2c44f2a6fe&attid=0.1&permmsgid=msg-f:1691033145815670677&th=1777c1afc7c11f95&view=att&disp=safe");
    }
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homes' %}">
        <img src="{%  static 'AI/image/logo.jpg' %}" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" >
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'examples' %}">Examples of Artificial Intelligence & Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project' %}">My Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href= {% url 'citations' %}>Citations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<div>
<p><a style="color: red" href="https://blogs.ei.columbia.edu/2018/06/05/artificial-intelligence-climate-environment/"><font size="5"> https://blogs.ei.columbia.edu/2018/06/05/artificial-intelligence-climate-environment/</font></a></p>
<p><a style="color: red" href=" https://blog.ferrovial.com/en/2019/09/goodbye-to-traffic-jams-ai-is-taking-over-traffic-lights/
"><font size="5">  https://blog.ferrovial.com/en/2019/09/goodbye-to-traffic-jams-ai-is-taking-over-traffic-lights/
</font></a></p>
<p><a style="color: red" href="https://www.cuelogic.com/blog/role-of-python-in-artificial-intelligence#:~:text=Python%20is%20a%20more%20popular,Performance%20wise%20C%2B%2B%20outperforms%20Python."><font size="5">https://www.cuelogic.com/blog/role-of-python-in-artificial-intelligence#:~:text=Python%20is%20a%20more%20popular,Performance%20wise%20C%2B%2B%20outperforms%20Python.</font></a></p>
<p><a style="color: red" href=" https://www.europarl.europa.eu/news/en/headlines/society/20200827STO85804/what-is-artificial-intelligence-and-how-is-it-used"><font size="5"> https://www.europarl.europa.eu/news/en/headlines/society/20200827STO85804/what-is-artificial-intelligence-and-how-is-it-used</font></a></p>
<p><a style="color: red" href="https://www.forbes.com/sites/forbestechcouncil/2020/08/17/why-we-should-care-about-the-environmental-impact-of-ai/?sh=11238ab456ee"><font size="5"> https://www.forbes.com/sites/forbestechcouncil/2020/08/17/why-we-should-care-about-the-environmental-impact-of-ai/?sh=11238ab456ee</font></a></p>
<p><a style="color: red" href="https://www.innoplexus.com/blog/how-artificial-intelligence-works/"><font size="5">https://www.innoplexus.com/blog/how-artificial-intelligence-works/</font></a></p>
<p><a style="color: red" href="https://www.youtube.com/watch?v=a52ZSCIAoRk"><font size="5">https://www.youtube.com/watch?v=a52ZSCIAoRk</font></a></p>
<p><a style="color: red" href="https://www.youtube.com/watch?v=YnMYZbyE2FQ"><font size="5"> https://www.youtube.com/watch?v=YnMYZbyE2FQ</font></a></p>
</div>
</body>
</html>